/* Index CSS */

/* colors
F2EDE8 Off-White
7AFFE6 Turqoise
3A315B Dark
77FF66 Bright Green
FFF3FC White
*/

/* fonts
font-family: 'Ubuntu', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  background-color:#FFF3FC;
}

.prmtxt{
    color: #3A315B;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}

#gt {
  margin-top: 10%;
}

#gt-l{
  background-color: #7AFFE6;
  border-radius: 15px;
  height:450px;
  padding: 2.5% 10px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
}

#gt-r{
  /* background-color: #7AFFE6; */
  border-radius: 15px;
  height:450px;
  padding: 2.5% 10px;
  text-align: center;
  letter-spacing: 5px;
}

#gt-t{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #3A315B;
  letter-spacing: 5px;
  font-size: 250%;
}

.mvs{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #3A315B;
  border-top: 5px;
  font-size: 90%;
}

hr{
  align: center;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #3A315B, #3A317B);
}

.img1{
  height: 40px;
  width: 40px;
}

nav{
  background-color: #F2EDE8;
}

#nav{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #3A315B;
  margin-left: 0px;
}

#gb div{
  /* border-style: solid; */
}
#nav1{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #3A315B;
  margin-left: 750px;
}

.dropdown{
  text-align: center;
}

.thr{
  width: 80%;
}

h2{
  font-family: 'Ubuntu', sans-serif;
  color: #3A315B;
  text-align: center;
}

#footer{
  margin-top: 150px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #3A315B;
  background-color: #F2EDE8;
}

.name{
  font-family: 'Ubuntu', sans-serif;
  font-size: 8px;
  bottom: 0;
  right: 0;
}

#navbar{
  background-color: #F2EDE8;
}

#drop1{
  padding-top: 10px;
}

#drop2{
 padding-top: 10px;
}

#drop3{
  padding-top: 10px;
}

#dropdownMenuButton{
  background-color: #77FF66;
}

.help{
  font-family: 'Raleway', sans-serif;
  color: #3A315B;
  width: 30%;
  margin-left: 5%;
}

.dtxt{
  font-family: 'Raleway', sans-serif;
  color: #3A315B;
  font-weight: 500;
  padding-top: 5px;
  text-align: center;
}

.lang-prob{
  background-color: #7AFFE6;
}

.ci > img:hover {
width: %30;
heigth: %30;
}

.navbtn:hover{
  background-color: #77FF66;
  border-color: #77FF66;
}

.bimg{
  height: 50%;
  width: 50%;
  margin-bottom: 8px;
}

.botmar{
  margin-bottom: 8px;
}
